<h1 mat-dialog-title>{{item && item.id ? 'Editar' : 'Crear'}} Tienda </h1>
<div mat-dialog-content>
    <form class="form-class">
        <mat-form-field class="full-width">
            <input name="itemName" matInput placeholder="Nombre de la Tienda" [(ngModel)]="item.name">
        </mat-form-field>

        <mat-form-field class="full-width">
            <textarea name="itemNoAbout" matInput placeholder="Acerca de la Tienda" [(ngModel)]="item.description"></textarea>
        </mat-form-field>

        <div class="full-width">
            <input name="itemLogo" type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>
            <div class="full-width" style="display: flex;">
                <img style="max-width: 70%; max-height: 100px;" *ngIf="item.image" [src]="item.image" alt="">
                <h5 *ngIf="!item.image">No file uploaded yet.</h5>
                <button style="margin: auto;" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                  <mat-icon>attach_file</mat-icon>
              </button>
            </div>
            <div class="progress">
                <mat-progress-bar *ngIf="uploadProgress" mode="indeterminate"></mat-progress-bar>
                <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
            </div>
        </div>
        <mat-form-field class="full-width">
            <input name="itemPhone" matInput placeholder="Precio del producto" [(ngModel)]="item.price">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button style="margin-right: auto;" color="warn" mat-raised-button (click)="onClose()">Cerrar</button>
    <button style="margin-left: auto;" color="primary" mat-raised-button [disabled]="!item.name" (click)="onSave()" cdkFocusInitial>Guardar</button>
</div>