.content {
  padding: 15px;
}

.content > mat-card {
  width: 400px;
}

.content-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
