<mat-card-title>
    Tiendas
    <button (click)="openStoreDialog()" style="float: right;" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
</mat-card-title>
<mat-card-subtitle>Puedes administrar tus tiendas desde aqui</mat-card-subtitle>

<mat-card-content  *ngFor="let store of stores" (opened)="panelOpenState = true" (closed)="panelOpenState = false">


                  <div fxLayout="row wrap">
                    <div fxFlex="30%">
                      {{store.name}}
                    </div>
                  <div fxFlex="30%">
                    <button (click)="onEdit($event, store)" style="margin: auto;" mat-icon-button color="accent">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                  <div fxFlex="30%">
                    <button (click)="onDelete($event, store)" style="margin: auto;" mat-icon-button color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  </div>



</mat-card-content>

