<mat-card-title>
    Tiendas
    <button (click)="openStoreDialog()" style="float: right;" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
</mat-card-title>
<mat-card-subtitle>Puedes administrar tus tiendas desde aqui</mat-card-subtitle>

<mat-card-content>
    <mat-accordion>
        <mat-expansion-panel matRipple *ngFor="let store of stores" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                      {{store.name}}
                    </div>
                  <div>
                    <button (click)="onEdit($event, store)" style="margin: auto;" mat-icon-button color="accent">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                  <div>
                    <button (click)="onDelete($event, store)" style="margin: auto;" mat-icon-button color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                </mat-panel-title>
                <mat-panel-description>
                    <img style="height: 40px;" [src]="store.logo" alt="">
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <div>Telefono: {{store.phone}}</div>
                <div>Direccion: {{store.address}}</div>
                <div>Correo: {{store.email}}</div>
                <div>Facebook: {{store.facebook}}</div>
                <div>Acerca de: {{store.about}}</div>
            </div>
            <div fxFlex.lg="100%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xl="100%" fxFlex.xs="100%"
            fxLayoutAlign="end center">
              <button mat-raised-button color="primary">
                <mat-icon>qr_code_2</mat-icon>
              </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card-content>

