<h1 mat-dialog-title>{{user && user.id ? 'Editar' : 'Crear'}} Usuario </h1>
<div mat-dialog-content>
    <form class="form-class" [formGroup]="options">
        <mat-form-field class="full-width">
            <input name="userEmail" matInput placeholder="Email" [(ngModel)]="user.email" required [formControl]="emailControl">
            <mat-error *ngIf="emailControl.hasError('required')">Por favor inserte su email</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input name="userPassword" type="password" matInput placeholder="Contraseña" [(ngModel)]="user.password" required [formControl]="passwordControl">
            <mat-error *ngIf="passwordControl.hasError('required')">Por favor inserte su contraseña</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" [(ngModel)]="user.firstname" required [formControl]="firstnameControl">
            <mat-error *ngIf="firstnameControl.hasError('required')">Por favor inserte su nombre</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input name="userLastname" matInput placeholder="Apellido" [(ngModel)]="user.lastname" required [formControl]="lastnameControl">
            <mat-error *ngIf="lastnameControl.hasError('required')">Por favor inserte su apellido</mat-error>
        </mat-form-field>

        <div class="full-width">
            <input name="storeLogo" type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>
            <div class="full-width" style="display: flex;">
                <img style="max-width: 70%; max-height: 100px;" *ngIf="user.image" [src]="user.image" alt="">
                <h5 *ngIf="!user.image">No file uploaded yet.</h5>
                <button [disabled]="user.firstname === undefined || user.lastname === undefined" style="margin: auto;" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                  <mat-icon>attach_file</mat-icon>
              </button>
            </div>
            <div class="progress">
                <mat-progress-bar *ngIf="uploadProgress" mode="indeterminate"></mat-progress-bar>
                <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
            </div>
        </div>

        <mat-form-field class="full-width">
            <input matInput placeholder="Telefono" [(ngModel)]="user.phone" required [formControl]="phoneControl">
            <mat-error *ngIf="phoneControl.hasError('required')">Por favor inserte su telefono</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button style="margin-right: auto;" color="warn" mat-raised-button (click)="onClose()">Cerrar</button>
    <button style="margin-left: auto;" color="primary" mat-raised-button [disabled]="!user.email" (click)="onSave()" cdkFocusInitial>{{user.id ? 'Guardar' : 'Crear'}}</button>
</div>