<mat-card-title>
    Usuarios
    <button (click)="openUserDialog()" style="float: right;" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</mat-card-title>
<mat-card-subtitle>Puedes administrar tus usuarios desde aqui</mat-card-subtitle>

<mat-card-content>
    <mat-accordion>
        <mat-expansion-panel matRipple *ngFor="let user of users" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title style="display: flex;">
                    <div style="margin: auto;">
                        {{user.email}}
                    </div>
                    <button *ngIf="user.email !== 'root@stores.com'" (click)="onEdit($event, user)" style="margin: auto;" mat-icon-button color="accent">
                    <mat-icon>edit</mat-icon>
                  </button>
                    <button *ngIf="user.email !== 'root@stores.com'" (click)="onDelete($event, user)" style="margin: auto;" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-panel-title>
                <mat-panel-description>
                    <img style="height: 40px;" [src]="user.image" alt="">
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <div>Nombre y Apellidos: {{user.firstname}} {{user.lastname}}</div>
                <div>Teléfono: {{user.phone}}</div>
                <div>Biografía: {{user.bio}}</div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card-content>