:host ::ng-deep .mat-card {
  border-radius: 0px;
  padding-right: 0 !important;
}

:host ::ng-deep .mat-tab-header {
  background-color: white;
  top: 100px;
  z-index: 100;
  position: sticky;
  position: -webkit-sticky; /* macOS/iOS Safari */
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(0 0 0 / 2%);
  margin-top: 10px;
}

::ng-deep .mat-form-field-infix {
  height: 25px;
  border-top: 6px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  top: -3px !important;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.7em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -0.7em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.3em) scale(.75);
  width: 133.33333%;
}

:host {
  position: absolute;
  top: 62px;
  bottom: 0;
  left: 0;
  right: 0;
}

.without-margin {
  padding-left: 0px !important;
}

menu {
  margin-top: 50px !important;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.content-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
