<mat-card-title>
    Categorías de la tienda {{store.name}}
    <button (click)="openCategoryDialog()" style="float: right;" mat-fab color="primary">
  <mat-icon>add</mat-icon>
</button>
</mat-card-title>
<mat-card-subtitle>Puedes administrar tus categorías desde aqui</mat-card-subtitle>

<mat-card-content>
    <mat-card matRipple *ngFor="let category of categories" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-card-title style="display: flex;">
            <div style="margin: auto;">
                {{category.name}}
            </div>
            <button (click)="onEdit($event, category)" style="margin: auto;" mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onDelete($event, category)" style="margin: auto;" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
        </mat-card-title>
    </mat-card>
</mat-card-content>